/* ヘッダー */
.header{
position:fixed;
top:0;
left:0;
width:100%;
height:50px;

background:rgb(255, 255, 255);

display:flex;
justify-content:space-between;
align-items:center;

padding:0 30px;
box-sizing:border-box;

z-index:1000;

transition: background 0.3s ease;
}

html, body {
  height: 100%;
  margin: 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
}

@media (min-width:769px){
  main{
    margin-top: 100px;
  }
}

#ball {
  position: absolute;
  width: 500px;
  height: auto;
  pointer-events: none;
}

.home-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Instagram入力 */
.input-group {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

/* @ 表示 */
.prefix {
  color: #999;
  font-size: 16px;
  margin-right: 6px;
}

/* 入力欄 */
.input-group input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 16px;
  background: transparent;
}

.home-icon {
  width: clamp(20px, 4vw, 28px);
  height: auto;
  fill: black;
  transition: 0.3s;
}

.home-links{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:80px;
  flex-wrap:wrap;
}

@media (max-width:768px){

  .home-links{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: nowrap;
    width: 90%;
    margin-top: -20px;
  }

}

.home-links a{
  font-family: "martian-mono-variable", sans-serif;
  font-variation-settings: "wdth" 120, "wght" 400;
  text-decoration: none;
  font-size: clamp(12px, 2.5vw, 18px);
  color: #000;
  letter-spacing: 0px;
  transition: 0.3s;
}

@media (min-width:769px){
  .home-links a{
    font-size: 14px;
  }
}

.home-links a:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

#canvas{
  width: 80%;
  height: 100px;
  margin: 100px auto;
}

/* スクロール後 */
.header.scrolled{
background: rgba(229,229,229,0);
}

/* ロゴ */
.logo{
font-family:"tosh-a", sans-serif;
font-size:26px;
letter-spacing:1px;
font-weight:700;
color:black;
}

.logo-link{
  text-decoration: none;
  color: inherit;
}

.hamburger{
  width:42px;
  height:42px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:5px;
  background:transparent;
  border:none;
  border-radius:0;
  box-sizing:border-box;
}

/* 線 */
.hamburger span{
  display:block;
  width:18px;
  height:2px;

  background:#000;
  border-radius:999px;

  transition:0.3s;
}

/* ☰ → × 調整 */
.hamburger.active span:nth-child(1){
  transform:translateY(7px) rotate(45deg);
}

.hamburger.active span:nth-child(2){
  opacity:0;
  transform:scaleX(0);
}

.hamburger.active span:nth-child(3){
  transform:translateY(-7px) rotate(-45deg);
}

/* メニュー */
.menu{
  position:fixed;
  top:0;
  right:-250px;
  width:250px;
  height:100vh;

  background-color:#ffffff;

  display:flex;
  justify-content:center;
  align-items:center;

  transition:0.4s;
  z-index:900;
}

/* メニュー表示 */

.menu{
  position:fixed;
  top:0;
  right:-250px;
  width:250px;
  height:100vh;

  background:#ffffff;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  transition:0.4s;
  z-index:900;
}



.menu.active{
  right:0;
}

.menu ul{
  list-style:none;
  padding:0;
  margin:0;
  text-align:center;
}

.menu li{
  margin:40px 0;

  opacity:0;
  transform:translateX(20px);
  transition:
    opacity 1.0s ease,
    transform 1.0s ease;
}

.menu.active li{
  opacity:1;
  transform:translateY(0);
}

.menu.active li:nth-child(1){
  transition-delay:0.05s;
}

.menu.active li:nth-child(2){
  transition-delay:0.10s;
}

.menu.active li:nth-child(3){
  transition-delay:0.15s;
}

.menu.active li:nth-child(4){
  transition-delay:0.20s;
}

.menu.active li:nth-child(5){
  transition-delay:0.25s;
}

.menu a{
  color:rgb(0, 0, 0);
  text-decoration:none;
  font-size:22px;
  letter-spacing:1px;
  font-family: "forma-djr-display", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.menu-image{
  display:block;
  width:120px;
  height:auto;
  margin:40px auto 15px;

  opacity:0;
  transform:scale(0.8);
  transition:
    opacity 1s ease,
    transform 1s ease;
}

.menu.active .menu-image{
  opacity:1;
  transform:scale(1);
}

#fukuoka-clock{
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: #000000;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: "forma-djr-display", sans-serif;
  font-weight: 600;
  font-style: normal;
  white-space: nowrap;
}



#bg{
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100dvh;
  z-index: -1;
}

.home-links a.sub-heading{
  font-size: clamp(16px, 3.5vw, 22px);
  color: #000;
  text-decoration: none;
  position: relative;
  margin-top: -26px;
}

.home-links a.sub-heading::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s ease;
}

.home-links a.sub-heading:hover::after{
  width: 100%;
}

.photo-grid{
  display:grid;
  grid-template-columns:repeat(1, 1fr);
  gap:15px;

  width:min(90vw, 500px);
  margin:30px auto 0;
}

@media (min-width:769px){
  .photo-grid{
    grid-template-columns:repeat(4, 1fr);
    width:min(90vw, 1000px);
  }
}

.photo-grid a{
  display:block;
}

.photo-grid img{
  width:100%;
  display:block;

  aspect-ratio:4 / 5;
  object-fit:cover;

  transition:0.3s ease;
}

.photo-grid img:hover{
  opacity:0.8;
  transform:scale(1.02);
}

/* body */
body{
background:white;
text-align:center;
font-family:sans-serif;

margin:0;

display:flex;
flex-direction:column;
overflow-x: hidden;
}

/* ABOUT */

body.about {
  background-color: #ffffff;

  background-image:
    radial-gradient(circle, #ebebeb 1.1px, transparent 1.1px),
    radial-gradient(circle, #ebebeb 1.1px, transparent 1.1px);

  background-size:
    30px 30px,
    30px 30px;

  background-position:
    0 0,
    15px 15px;
}

@media (min-width:769px){
  body.about {
    background-color: #ffffff;
  
    background-image:
      radial-gradient(circle, #ebebeb 1.1px, transparent 1.1px),
      radial-gradient(circle, #ebebeb 1.1px, transparent 1.1px);
  
    background-size:
      30px 30px,
      30px 30px;
  
    background-position:
      0 0,
      15px 15px;
  }
}

.about-content{
  max-width:800px;
  margin:80px auto;
  padding:20px;
}

.about-content .lead{
  font-size:11px;
  font-weight: 500;
  line-height:1.6;
  margin-bottom:30px;
  text-align: left;
}

.about-content .english{
  font-variation-settings: "wdth" 120, "wght" 400;
  font-size:11px;
  line-height:1.6;
  margin-bottom:30px;
}

@media (max-width: 768px) {
  .modal-content p {
    font-size: 12px;
  }
}

.close {
  position: absolute;
  top: -12px;
  right: 12px;

  width: 30px;
  height: 30px;

  background: transparent;
  border: none;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.close img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  display: block;
}

@media (max-width: 768px) {
  .close {
    right: 60px;
  }

  .close img {
    width: 60px;
    height: 60px;
  }
}

/* コンタクト */
.contact{
  max-width:600px;
  margin:120px auto;
  text-align:center;
}

.contact-page{
  background-color:#ffffff;
}

.contact-info{
  display:flex;
  flex-direction:column;
  align-items:center; /* ←中央寄せはこっちでやる */
  gap:15px;
}

.contact h1{
  margin-right:200px;
}

/* 名前 */
.contact-name{
  font-size:15px;
  font-weight:400;
}

/* リンク（アイコン＋文字） */
.contact-item{
  font-size:15px;
  color:#000;
  text-decoration:none;
  font-weight:400;

  display:inline-flex; 
  align-items:center;
  gap:8px;

  position:relative;
}

/* 下線は文字だけにする */
.contact-item span{
  position:relative;
}

.contact-item span::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-4px;
  width:0;
  height:2px;
  background:#000;
  transition:width 0.3s ease;
}

.contact-item:hover span::after{
  width:100%;
}

/* アイコン */
.contact-icon{
  width:18px;
  height:18px;
}

.contact-message{
  font-variation-settings: "wdth" 120, "wght" 400;
  margin-top: 40px;
  font-size: 10px;
  line-height: 1.8;
  color: #000000;
  text-align: center;
}

.brand-font{
  font-family:"tosh-a", sans-serif;
  letter-spacing:0px;
  font-weight:700;
}

/* フッター */

footer{
  padding:20px 0;
  height:60px; /* 固定にする */
}

@media (max-width:768px){
  footer{
    padding:20px 0;
    height:60px;
  }
}

.footer-links{
  display:flex;
  justify-content:center;
  gap:25px;
  margin-bottom:15px;
}

.icon{
  color:black;
  transition:0.3s;
}

.icon svg{
  width:20px;
  height:20px;
}

.icon:hover{
  opacity:0.6;
}

.copyright{
  font-size:12px;
  color:#666;
  padding-bottom:30px;
}

/* 〜〜〜〜〜〜〜〜〜〜スマホ〜〜〜〜〜〜〜〜〜〜 */
@media (max-width:768px){

.header{
height:30px;
padding:0 20px;
}

.logo{
font-size:16px;
}

/* メニュー */
.menu{
display: flex;
flex-direction: column;
width:200px;
right:-200px;
}

/* メニュー表示 */
.menu.active{
right:0;
}

.menu a{
font-size:18px;
}

#canvas{
  width: 90%;
  height: 100px;
  margin: 50px auto;
}

#ball {
  position: absolute;
  width: 290px;
  height: auto;
  pointer-events: none;
}