/* ヘッダー */
.header{
position:fixed;
top:0;
left:0;
width:100%;
height:70px;

background:transparent;

display:flex;
justify-content:space-between;
align-items:center;

padding:0 30px;
box-sizing:border-box;

z-index:1000;

transition: background 0.3s ease;
}

/* スクロール後 */
.header.scrolled{
background: rgba(229,229,229,0);
}

/* ロゴ */
.logo{
font-family:"kuhlman-vf", sans-serif;
font-size:36px;
letter-spacing:1px;
font-weight:700;
color:black;
}

/* ハンバーガー */
.hamburger{
width:30px;
height:22px;

display:flex;
flex-direction:column;
justify-content:space-between;

cursor:pointer;
}

/* ハンバーガー線 */
.hamburger span{
display:block;
height:3px;
width:100%;

background:black;
border-radius:2px;

transition:0.3s;
}

/* ハンバーガーメニュー */
.hamburger.active span:nth-child(1){
transform:translateY(9px) rotate(45deg);
}

.hamburger.active span:nth-child(2){
opacity:0;
}

.hamburger.active span:nth-child(3){
transform:translateY(-9px) rotate(-45deg);
}

/* メニュー */
.menu{
position:fixed;

top:0;
right:-250px;

width:250px;
height:100vh;

background:transparent;

display:flex;
justify-content:center;
align-items:center;

transition:0.4s;

z-index:900;

box-shadow:none;
}

/* メニュー表示 */
.menu.active{
right:0;
}

.menu ul{
list-style:none;
padding:0;
margin:0;
text-align:center;
}

.menu li{
margin:25px 0;
}

.menu a{
color:rgb(0,0,0);
text-decoration:none;
font-size:20px;
letter-spacing:2px;
}

#bg{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}

/* 友人 家族バナー */

.flow-band{
  width:100%;
  overflow:hidden;
}

.flow-track{
  display:flex;
  width:max-content;
  animation:flow 35s linear infinite;
}

.flow-track img{
  height:60px;
  flex-shrink:0;
}

@keyframes flow{
  from{
    transform:translateX(0);
  }
  to{
    transform:translateX(-50%);
  }
}

/* HOME　png */

.home-img{
  width:440px;
  max-width:90vw;
  height:auto;
  display:block;
  margin:120px auto;
  cursor:pointer;
}

.home-img:first-of-type{
  margin-top:20px;
}

.home-menu a:nth-child(1) .home-img{
  width:300px;
}

.home-menu a:nth-child(3) .home-img{
  width:520px;
  max-width:95vw;
}

/* body */
body{
background:white;
text-align:center;
font-family:sans-serif;

margin:0;
padding-top:70px;

min-height:100vh;
display:flex;
flex-direction:column;
}

/* オーダーフォーム */

body#orderPage{
  background-color:#fff;
  background-image:
    radial-gradient(rgba(0,0,0,0.1) 1px, transparent 1px),
    radial-gradient(rgba(0,0,0,0.1) 1px, transparent 1px);
  background-size:24px 24px;
  background-position:0 0,12px 12px;
}

form{
max-width:500px;
margin:40px auto;
display:flex;
flex-direction:column;
gap:15px;
padding:0 20px;
}

input, select, textarea{
width:100%;
padding:10px 0;
font-size:16px;

border:none;
border-bottom:1px solid #ccc;

box-sizing:border-box;
background:transparent;
}

/* 項目左寄せ */

label{
display:block;
width:100%;
text-align:left;
}

/* ボタン */

button{
padding:12px;
background:black;
color:white;
border:none;
cursor:pointer;
width:100%;
}

/* 任意文字グレー */
.optional{
    color:#999;
    font-size:14px;
}
select{
color:#999;
}

/* バリテーション文字カラー */

select:valid{
color:black;
}

/* 例カラー */

input::placeholder{
color:#d7d7d7;
}

/* エラー時のみ赤 */

input:invalid:focus,
select:invalid:focus{
border-bottom:2px solid red;
}

/* アーカイブページ */

.archive{
max-width:900px;
margin:40px auto;
padding:0 20px;
}

.archive h2{
margin:40px 0 20px;
font-size:20px;
border-bottom:1px solid #ccc;
padding-bottom:5px;
}

.archive-grid{
display:grid;
grid-template-columns:repeat(auto-fill, minmax(200px,1fr));
gap:20px;
}

.archive-grid img{
width:100%;
height:auto;
display:block;
}

/* 説明文 */

.explanation{
font-size:12px;
color:#666;
width:100%;
margin:10px auto 6px;
line-height:1.5;
text-align:left;
}

/* 同意 */

.notice{
font-size:12px;
color:#000;
width:80%;
margin:10px auto 6px;
line-height:1.6;
text-align:justify;

padding-left:1.2em;
}

.notice li{
margin-bottom:10px;
}

.agreement{
display:flex;
align-items:center;
gap:6px;

width:80%;
margin:20px 0 20px 30%;
}

.agreement input{
width:auto;
margin:0;
}

/* 色変化の秒数 */
button{
transition:background 0.8s ease;
}
/* 同意前 */
button:disabled{
background:#ccc;
cursor:not-allowed;
}
/* 同意後 */
button:not(:disabled){
background:black;
color:white;
}

/* フッター */

footer{
  padding:20px 0;
  text-align:center;
  border-top:1px solid #eee;
}

.footer-links{
  display:flex;
  justify-content:center;
  gap:25px;
  margin-bottom:15px;
}

.icon{
  color:black;
  transition:0.3s;
}

.icon svg{
  width:20px;
  height:20px;
}

.icon:hover{
  opacity:0.6;
}

.copyright{
  font-size:12px;
  color:#666;
}

/* 〜〜〜〜〜〜〜〜〜〜PC〜〜〜〜〜〜〜〜〜〜 */

@media (min-width:900px){

.home-menu{
display:grid;
grid-template-columns:1fr 1fr;
grid-template-rows:auto auto;
justify-items:center;
align-items:center;

height:72vh; /* 画面内に収める */
gap:40px;
margin-top:0;
}

/* ORDER */
.home-menu a:nth-child(1){
grid-column:1 / 3;
transform:translateY(-20px);
}
.home-menu a:nth-child(1) img{
width:24vw;
max-width:380px;
}

/* ARCHIVE */
.home-menu a:nth-child(2){
grid-column:1;
transform:translateY(-80px);
}
.home-menu a:nth-child(2) img{
width:34vw;
max-width:600px;
}

/* SHOP */
.home-menu a:nth-child(3){
grid-column:2;
transform:translateY(-80px);
}
.home-menu a:nth-child(3) img{
width:34vw;
max-width:600px;
}

.home-img{
width:22vw; /* 画面サイズ基準 */
max-width:340px;
margin:0;
}

}

/* 〜〜〜〜〜〜〜〜〜〜スマホ〜〜〜〜〜〜〜〜〜〜 */
@media (max-width:768px){

.header{
height:60px;
padding:0 20px;
}

.logo{
font-size:24px;
}

/* ハンバーガー */
.hamburger{
width:26px;
height:18px;
}

/* ☰ → × 調整 */
.hamburger.active span:nth-child(1){
transform:translateY(7.5px) rotate(45deg);
}

.hamburger.active span:nth-child(2){
opacity:0;
transform:scaleX(0);
}

.hamburger.active span:nth-child(3){
transform:translateY(-7.5px) rotate(-45deg);
}

/* メニュー */
.menu{
width:200px;
right:-200px;
}

/* メニュー表示 */
.menu.active{
right:0;
}

.menu a{
font-size:18px;
}

/* オーダーフォーム */

h1{
font-size:22px;
text-align:center;
}

form{
margin:20px auto;
gap:16px;
}

button{
padding:14px;
}

/* 項目左寄せ */

label{
display:block;
width:80%;
margin:0 auto;
text-align:left;
}

/* オーダーフォーム下線幅調整 */

input,
select,
textarea{
width:80%;
margin:0 auto;
display:block;
padding:10px;
box-sizing:border-box;
}

/* 説明文 */

.explanation{
font-size:12px;
color:#666;
width:80%;
margin:10px auto 6px;
line-height:1.5;
text-align:left;
}

/* 同意 */

.agreement{
display:flex;
align-items:center;
gap:6px;
justify-content:center;
width:80%;
margin:20px auto;
}